<div class="modal-overlay">
  <div class="modal-container">
    
    <h1 class="modal-title">Adicionar motoristas</h1>

    <form class="form-area">
      
      <div class="form-group">
        <label>Nome completo</label>
        <input type="text" 
               name="nome"
               [(ngModel)]="novoMotorista.nome" 
               placeholder="Digite o nome">
      </div>

      <div class="form-row">
        <div class="form-group">
          <label>Identidade</label>
          <input type="text" 
                 name="identidade"
                 [(ngModel)]="novoMotorista.identidade" 
                 placeholder="xxx.xxx.xxx-xx">
        </div>
        <div class="form-group">
          <label>Carteira de Motorista</label>
          <input type="text" 
                 name="cnh"
                 [(ngModel)]="novoMotorista.cnh" 
                 placeholder="xxxxxxxxxxxx">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label>Placa do veículo</label>
          <input type="text" 
                 name="placa"
                 [(ngModel)]="novoMotorista.placa" 
                 placeholder="xxxxxxxx">
        </div>
        <div class="form-group">
          <label>Veículo</label>
          <input type="text" 
                 name="veiculo"
                 [(ngModel)]="novoMotorista.veiculo" 
                 placeholder="Modelo do veículo">
        </div>
      </div>

      <div class="form-group">
        <label>E-mail</label>
        <input type="email" 
               name="email"
               [(ngModel)]="novoMotorista.email" 
               placeholder="exemplo@email.com">
      </div>

      <div class="form-group password-group">
        <label>Senha</label>
        <div class="input-wrapper">
          <input [type]="mostrarSenha ? 'text' : 'password'" 
                 name="senha"
                 [(ngModel)]="novoMotorista.senha" 
                 placeholder="Digite a senha">
          
          <svg (click)="alternarVisualizacaoSenha()" 
               class="password-icon" 
               style="cursor: pointer;"
               width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
             <path d="M12 4.5C7 4.5 2.73 7.61 1 12C2.73 16.39 7 19.5 12 19.5C17 19.5 21.27 16.39 23 12C21.27 7.61 17 4.5 12 4.5ZM12 17C9.24 17 7 14.76 7 12C7 9.24 9.24 7 12 7C14.76 7 17 9.24 17 12C17 14.76 14.76 17 12 17ZM12 9C10.34 9 9 10.34 9 12C9 13.66 10.34 15 12 15C13.66 15 15 13.66 15 12C15 10.34 13.66 9 12 9Z" 
                   [attr.fill]="mostrarSenha ? '#112B3C' : '#646464'"/>
          </svg>
        </div>
      </div>

      <button type="button" class="btn-photo">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20 4H16.83L15 2H9L7.17 4H4C2.9 4 2 4.9 2 6V18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V6C22 4.9 21.1 4 20 4ZM12 17C9.24 17 7 14.76 7 12C7 9.24 9.24 7 12 7C14.76 7 17 9.24 17 12C17 14.76 14.76 17 12 17Z" fill="#112B3C"/>
        </svg>
        Foto do motorista
      </button>

      <div class="actions-row">
        <button type="button" class="btn btn-cancel" (click)="fechar()">Cancelar</button>
        
        <button type="button" class="btn btn-save" (click)="salvar()">Salvar</button>
      </div>

    </form>
  </div>
</div>